Payful

<table>
  <thead>
    <tr>
      <th>
        <%= t("views.payful.sections.name") %>
      </th>
      <th>

      </th>
    </tr>
  </thead>
  <tr>
    <td>
      <%= link_to t("views.payful.sections.coupons.title"), coupons_path, id: "coupons-section" %>
    </td>
    <td>
      <%= t("views.payful.sections.coupons.description") %>
    </td>
  </tr>
</table>
